@media screen and (max-width: 767px) {
.lists {
    margin-top: 0;
    margin-bottom: 0;
    }
.feature__text {
    display: flex;
    margin-top: 0;
    margin-bottom: 30px;
    line-height: 1.71;
    color: var(--title-color);
    margin-bottom: 30px;
        }
.feature__title {
    text-align: center;             
    }
}

.lists {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
   
}
.feature {
    @extend %align;
    height: 120px;
    margin-bottom: var(--card-set);
    background-color: rgba(245, 244, 250, 1);
}
.section.about {
    padding-top: 0;
}
.feature__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}


@media screen and (min-width: 768px) {
   
.lists {
    gap: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.feature__text {
    margin-top: 0;
   margin-bottom: 0;
    line-height: 1.71;
    color: var(--title-color);
    }
}
@media screen and (min-width: 1200px) {
.feature__text {
    margin-bottom: 0;
    }

}

