@media screen and (max-width: 1199px) {
    .contacts {
        margin-bottom: 60px;
    }
  
      .footer-conteiner {
        display: flex;
        flex-direction: column;
        text-align: center;
           }
    
             .join {
        // margin-top: 60px;
        margin-bottom: 60px;
    }
    .subscribe {
        display: flex;
       flex-direction: column;
       align-items: center;
        margin-top: 20px;
                }

    .footer-input {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 768px) {
  
    .subscribe {
        display: flex;
        margin-top: 20px;
}
    .footer-input {
        width: 450px;
    }
    .media {
        display: flex;
        gap: 165px;
        justify-content: center;
    }
}

@media screen and (min-width: 1200px) {
    .footer-input {
        width: 358px;
}
  .media {
        gap: 70px;
  }
.footer-conteiner {
    display: flex;
    // flex-direction: row;
    // align-items: baseline;
}
// .join {
//     margin-left: 70px;
// }
.footer-sign {
    margin-left: auto;
}
}

.footer {
    background-color: var(--secondary-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

[href*='maps'] {
    color: var(--title-text-color);
    text-decoration: none;
}

.contacts {
    display: inline-block;
    padding-left: 0;
    margin-top: 0;
       font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
}
.contacts .link {
    color: rgba(255, 255, 255, 0.6);
}

.contacts-link:not(:last-child) {
    margin-bottom: 9px;
}

.contact-title {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--title-text-color);
    margin-top: 0;
    margin-bottom: 20px;
}

.team-icon {
    display: flex;
}

.form-sign-up {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--title-text-color);
}

.footer-input {
    display: block;
    // width: 358px;
    height: 50px;
    padding: 15px 16px;
    background-color: var(--secondary-bg-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

&::placeholder {
     font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.6);
     }

&:focus {
    border-color: var(--accent-color);
    color: var(--title-text-color);
    outline: none;
     }
}

.form-icon {
    margin-left: 10px;
}