 @media screen and (max-width: 1199px) {
.section.about {
        display: none;
    }
          .list {
              display: flex;
              flex-direction: column;
              justify-content: center;
          }
 }
 @media screen and (max-width: 767px){
.site-nav {
    display: none;
    }

.list {
    display: none;
    }

.contact {
    display: none;
    } 
 }
 
@media screen and (min-width: 768px) {
    .main-nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }
   
.mobile-menu{
    display: none;
    } 
.open-mobile-menu-btn {
    display: none;
     }
    
.navi {
     display: flex;
    align-items: center;
 }
// .list{
//     margin-top: 0;
//  }
// .list .item+.item {
//     margin-left: 0;
//     margin-bottom: 10px;
//   }
  .list {
    margin-top: 0;
    margin-bottom: 0;
    gap: 10px;
    // margin-left: auto;
    padding-left: 0;
  }

.list .link {
    // margin-bottom: 10px;
    align-items: center;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--title-color);
    text-decoration: none;
}
.site-nav__link--current::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    background-color: var(--accent-color);
    border-radius: 2px;
}
  .site-nav__link {
    text-decoration: none;
    transition: color var(--timing-duration);
    position: relative;

    .site-nav .site-nav__link {
    flex-basis: calc((100% - 2*50px)/3);
    }


.site-nav & {
    display: block;
    padding-top: 0;
   margin-right: 50px;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--comon-color);
    }
          &:hover,
          &:focus {
              color: var(--accent-color);
          }
    
          &.site-nav__link--current {
              color: var(--accent-color);
          }

         .item .site-nav__link:last-child {
             margin-right: 0;
         }
                                  
    &:hover,
    &:focus {
    color: var(--accent-color);
     }
                                
    &.site-nav__link--current {
    color: var(--accent-color);
    }
}

 .site-nav .site-nav__link:not(:last-child) {
     margin-right: 50px;
 }
}

@media screen and (min-width: 1200px){
    .list {
        display: flex;
        align-items: center;
        gap: 30px;
    }
        // .list .item+.item {
        //     margin-left: var(--card-set);
        // }
    
                }
                   
                       // .site-nav .item+.item {
// margin-left: 50px;
// }

.page-header {
    border-bottom: 1px solid #ececec;
}

.studio,
.logo-item {
  color: var(--accent-color);
}
 
.item-icon {
    margin-right: 10px;

&:hover,
&:focus {
    color: var(--accent-color);
        }
}

