@media screen and (min-width: 768px) {
.filter {
    margin-top: 0;
    margin-bottom: 30px;
    padding-left: 0;
    justify-content: center;
   
}
}
@media screen and (max-width: 767px) {
.filter {
    width: 326px;
    flex-wrap: wrap;
    justify-content: flex-start;
    row-gap: 15px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 40px;
}

}
@media screen and (min-width: 1200px) {
    .filter {
        margin-bottom: 50px;
    }
}


.filter-btn {
    padding: 6px 22px;
    display: inline-block;
    @include font ();
    text-align: center;
    border: 0;
    border-radius: 4px;
    transition: background-color var(--timing-duration), color var(--timing-duration),
    box-shadow var(--timing-duration);

&:hover,
&:focus {
    background-color: var(--accent-color);
    color: var(--title-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}



.filter-item .active {
    color: var(--title-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-item:not(:first-child) {
    margin-left: 8px;
}

.text {
    margin-top: 0;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.work {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    color: var(--title-color);
}

.flex-link {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-decoration: none;
    color: var(--comon-color);
    transition: box-shadow var(--timing-duration);

&:hover,
&:focus {
    transform: translateY(0%);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
        }
}


.flex-item-border {
    border-top: 0 solid rgba(238, 238, 238, 1);
    border-right: 1px solid rgba(238, 238, 238, 1);
    border-bottom: 1px solid rgba(238, 238, 238, 1);
    border-left: 1px solid rgba(238, 238, 238, 1);
    padding: 20px 24px;
    flex-grow: 1;

}


