
.form-btn:hover,
.form-btn:focus {
    background-color: #188ce8;
    color: var(--title-text-color);
}


.hat__btn {
    padding: 10px 32px;
    margin-left: auto;
    margin-right: auto;
    min-width: 216px;
    @include fonts();
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--title-text-color);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 0;
    transition: background-color var(--timing-duration);

    &:hover,
    &:focus {
        background-color: #188ce8;
        color: var(--title-text-color);
        }
}

.modal-close {
    position: absolute;
    background-color: transparent;
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%;
    @extend %align;
    right: 8px;
    top: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    
  
    &:hover,
    &:focus {
        fill: var(--accent-color);
        }
}



.checkbox-btn {
    padding: 10px 52px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 200px;
    height: 50px;
    @include fonts();
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--title-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    transition: background-color var(--timing-duration), color var(--timing-duration),
    box-shadow var(--timing-duration);

    &:hover,
    &:focus {
        background-color: #188ce8;
        color: var(--title-text-color);
            }
}

.footer-btn {
    padding: 10px 28px;
    margin-left: 12px;
    width: 200px;
    height: 50px;
    @include fonts();
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--title-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    transition: background-color var(--timing-duration);

    &:hover,
    &:focus {
        background-color: #188ce8;
        color: var(--title-text-color);
    }
}