.link {
    transition: color var(--timing-duration);
    position: relative;

.site-nav & {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--comon-color);
    }

&:hover,
&:focus {
    color: var(--accent-color);
    }

&.current {
    color: var(--accent-color);
    }    
}

.contact {
    fill: var(--title-color);
    transition: color var(--timing-duration);

&:hover,
&:focus {
    fill: var(--accent-color);
    }
}