
.link {
    transition: color var(--timing-duration);
    position: relative;

        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }
.contact {
    fill: var(--title-color);
    transition: color var(--timing-duration);

&:hover,
&:focus {
    fill: var(--accent-color);
    }
}