// .main-nav {
//     display: flex;
//     align-items: center;
// }
.logo {
    // margin-right: 276px;
    font-family: 'Raleway';
    @include fonts($fs: 26px, $lh: 30.52px);
    color: var(--logo-color);
    text-decoration: none;
}

.studio,
.logo-item {
    color: var(--accent-color);
}

.logo-footer {
    display: block;
    margin-bottom: 20px;
    font-family: 'Raleway';
    font-style: normal;
    @include fonts($fs: 26px, $lh: 30.52px);
    color: var(--title-text-color);
    text-decoration: none;
}