@media screen and (max-width: 1199px) {
.checkbox__text {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        color: var(--title-color);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 767px) {
.modal {
    max-width: 450px;
    width: 94%;
        }               
}
@media screen and (min-width: 768px) {
    .modal {
        width: 450px;
    }
}

@media screen and (min-width: 1200px) {
    .modal {
         width: 528px;
    }
          .checkbox__text {
              font-size: 14px;
              line-height: 1.71;
              padding-left: 13px;
              padding-right: 13px;
          }
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--title-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform var(--timing-duration);
}
.modal__form {
    display: block;
    padding: 40px;
}

.modal-icons {
    position: relative;
    margin-top: 4px;
}

.modal-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    display: inline-block;

    .modal-input:focus+ & {
            fill: var(--accent-color);
        }
}

.modal-input {
    width: 100%;
    height: 40px;
    font-size: 12px;
    line-height: 1.16;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color var(--timing-duration), fill var(--accent-color);

    &:focus {
            border-color: var(--accent-color);
            outline: none;
            color: var(--logo-color);
        }
}

.modal__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    margin: 0;
    color: var(--comon-color);
}

.modal__name {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--title-color);
}

.comment {
    width: 100%;
    height: 120px;
    resize: none;
    padding: 12px 16px;
    margin-top: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.16;
    transition: border-color var(--timing-duration);

    &:focus {
        border-color: var(--accent-color);
        outline: none;
        color: var(--logo-color);
        }

    &::placeholder {
     color: rgba(117, 117, 117, 0.5);
          }
}


.checkbox {
    display: flex;
    margin-bottom: 0;
    margin-top: 20px;
}

.checkbox__icon {
    cursor: pointer;
    border: 2px solid var(--comon-color);
    border-radius: 3px;
    margin-right: 8px;
    flex-shrink: 0;

.checkbox__input:focus+& {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
        }
    
.checkbox__input:checked+& {
     background-color: var(--accent-color);
     border: none;
        }
}

// .checkbox__icon~.check-link {
//     color: var(--accent-color);
// }
.check-link {
    color: var(--accent-color);
}

.check-link:hover,
.check-link:focus {
    text-decoration: none;
}

.checkbox__input {
    position: absolute;
    appearance: none;
}

.checkbox__input:checked+.checkbox__icon .checkbox__own-icon {
    display: block;
}

