.site-nav,
.filter,
.client,
.contact {
    display: flex;
}

.site-nav,
.team-item,
.team {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

ul {
    list-style: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}
button {
    cursor: pointer;
    font-family: inherit;
}

.client {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

@media screen and (max-width: 1199px) {
.section {
    padding: 60px 0;
}
.section .conteiner {
    padding-top: 0;
    padding-bottom: 0;
}
.team-title {
    margin-top: 0;
    margin-bottom: 30px;
    padding-left: 0;
    @include fonts($fs: 28px, $lh: 32.81px);
    text-align: center;
}
    }

@media screen and (min-width: 1200px) {
.section {
        padding: 94px 0;
    }
.team-title {
    margin-top: 0;
    margin-bottom: 50px;
    padding-left: 0;
    @include fonts($fs: 36px, $lh: 42.19px);
    text-align: center;
    }
// .lists .flex-element+.flex-element,
.team-item .team-item__list+.team-item__list,
.client .client__list+.client__list {
    margin-left: var(--card-set);
    }
} 

body .link {
    text-decoration: none; 
}

body.no-scroll{
    overflow: hidden;  
}
    
